html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.static-text {
  font-size: 0.7em;
}

.static-text .titulo {
  font-size: 30px;
}

.static-text .subtitulo {
  color: #A4A3AF; 
}

.static-text .bold {
  font-weight: bold;
}

.static-text .italic {
  font-style: italic;
}

.static-text .no-bottom {
  margin-bottom: 0;
}

.static-text .no-margin {
  margin: 0;
}

.static-text .table {
  width: 100%
}

.static-text .table-overflow {
  overflow-x:auto;
}

.static-text .table .table-first-row {
  background-color: #ff5900;
  color: #fff;
  font-size: 1.3em;
}

.static-text .table .table-odd-row {
  background-color: #F1F1F1;
}

.static-text .table .table-coll {
  padding: 0 15px;
}